<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>froshims</title>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>