{% extends "layout.html" %}

{% block body %}

    <h1>Registrants</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Sport</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.sport }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}