<html>
    <head>
        <title>Headlines</title>
    </head>

    <body>
        <h1>Headlines</h1>
        <h2>Current weather</h2>
        <p>City: <b>{{weather.city}}</b></p>
        <p>{{weather.description}} |{{weather.temperature}}&#8451;</p>
        <h2>Headlines</h2>
        <form>
            <input type="text" name="publication" placeholder="search" />
            <input type="submit" value="Submit" />
        </form>
        {% for article in articles %}
            <b><a href="{{article.link}}">{{article.title}}</a></b><br />
            <i>{{article.published}}</i><br />
            <p>{{article.summary}}</p>
            <hr />
        {% endfor %}
    </body>
</html>