{% extends "base.html" %}

{% block content %}
<h1>This is the distro page for: {{name|capitalize}}</h1>
<a href="{{ url_for('static', filename='computer-coffee-shop.jpg.webp') }}">Here</a>
{% endblock %}