{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Sign up for this site</h1>
            <a href="{{url_for('signup_form')}}">Click here to sign up</a>
    </div>
{% endblock %}