{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to the sign up page</h1>
        <p>Fill out the form. No info will be saved.</p>
            <form action="{{url_for('thank_you')}}">
                <label for="first">First Name:</label>
                <input type="text" name="first">
                <label for="last">Last Name:</label>
                <input type="text" name="last">
                <input type="submit" value="Submit Form">
            </form>
    </div>
{% endblock %}